*{margin: 0;padding: 0;}
body{background-color: #edeff0;font-family: "微软雅黑";}
p { font-size: 13px; color: #888;}
ul,li{list-style: none;}
/*------------灰色虚线-----------*/
.dotted-black-up {background: url("../images/headbg.png") repeat-x scroll 0 0 transparent;}
/*-----------白色虚线----------*/
.bg-white{background: url("../images/bg-white.png") repeat-x scroll 0 0 transparent;}
.bg-blue {background: url('../images/bg-black.png') no-repeat scroll center top #35383f;}
/*----------顶部横线----------*/
#topline {position: absolute; top: 0; left: 0; right: 0; height: 4px;}
#topline-left {position: absolute; left: 0; right: 50%; height: 4px; background-color: #d8230e;}
#topline-right {position: absolute; left: 50%; right: 0; height: 4px; background-color: #35383f;}


/*-----------导航栏--------*/
#navbar {
    background: url('../images/bg-navbar.png') repeat scroll 0 0 transparent;
}
#navbar .container{
    padding-top: 30px;
    padding-bottom: 10px;
}
#brand {font-size: 45px; color: #35383f;}




/*----------头像栏--------------*/
#home {
    padding-top: 140px;
    background: #edeff0;
}
.carousel-image{
    width:250px;
    border-radius: 150px;
    margin: 15px 0 15px 0;
}
.title h1 {
    font-size: 30px;
    font-weight: normal;
    color: #35383f;
    padding-bottom: 15px;
}

.carousel-inner p {text-shadow: 1px 1px 1px #fff;}
.carousel-inner h1 {padding-bottom: 40px;}

/*-------------专业技能-----------------*/
#skill .container {padding: 30px 0;}
#skill .container h2{
    color: #ffffff;
    font-weight: bold;
}
#skill .row{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.circle-white {
    padding: 10px 30px 5px 30px;
    background-color: #fff;
    width: 250px; height:250px;
    border-radius:50%;
    margin-top: 3%;
    border: 5px solid #A61B14;
    overflow: hidden;
    text-align: center;
    box-shadow:5px 5px 5px #000;

}
.circle-white:hover {
    border: 5px solid #35383F;
    border-radius: 0;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.circle-white h3 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
}
.circle-white:hover h3{
    color: #A61B14;
    font-weight: bolder;
}
.circle-white p {
    width: 180px;
    font-size: 12px;
    text-align: center;
    color: #6f7583;
    overflow: hidden;
}
.circle-white img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 15px auto 0;
}

/*---------------项目经验-----------------------*/
#project{background: #edeff0;}
.head h1,h4{font-weight: bolder;color: #35383F}
.grid figure {
    display: inline-table;
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 10px;
}
.grid figure img {
    position: relative;
    opacity: 0.8;
}
.grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size:2vmin;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h3 {
    word-spacing: -0.10em;
    font-weight: 300;
}

.grid figure h3,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.box-shadow {
    background: #000000;
}
figure.box-shadow:hover img {
    opacity: 0.6;
}
figure.box-shadow figcaption::before {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/method.svg) no-repeat center center;
    background-size: 100% 100%;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.25s, transform 0.25s;
    -webkit-transform: scale3d(5,2.5,1);
    transform: scale3d(5,2.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
figure.box-shadow:hover figcaption::before {
    opacity: 0.4;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
figure.box-shadow h3 {
    margin-top: 1em;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}
figure.box-shadow:hover h3 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.box-shadow p a {
    color: #fff;
    font-size: 140%;
    opacity: 0;
    position: relative;
    display: inline-block;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.box-shadow p a:first-child {
    -webkit-transform: translate3d(-60px,-60px,0);
    transform: translate3d(-60px,-60px,0);
}

figure.box-shadow p a:nth-child(2) {
    -webkit-transform: translate3d(0,60px,0);
    transform: translate3d(0,60px,0);
}

figure.box-shadow p a:nth-child(3) {
    -webkit-transform: translate3d(60px,-60px,0);
    transform: translate3d(60px,-60px,0);
}

figure.box-shadow:hover p a {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*---------关于我---------------*/
#about-me{background:#A61B14;}
#about-me .container{padding: 40px 0;}
#about-me h2{color: #ffffff;}
#about-me h3{margin: 40px auto 0; font-weight: bold;color: #ffffff;}
#about-me img{width: 150px;margin: 50px auto 0;}
#about-me .work p{color: #ffffff;font-size: 1.6rem;}
.bot-content{
    border: 8px solid #A61B14;
    text-align: center;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    padding-top: 15px;
    overflow: hidden;
    float: left;
    background:#edeff0 ;
    margin-left:50px;
    box-shadow:2px 2px 5px #000;
}
.bot-content:hover{
    border: 8px solid #A61B14;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.bot-content p{
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 20px;
    margin-top: 30px;
    color: rgb(34,34,34);
}
.title-infor{
    width: 250px;
    height: 65px;
    margin-top: 15px;
    background:rgba(34,34,34,0.9);
    padding-top: 4px;
}

.title-infor h6{
    font-size: 2rem;
    font-weight: bold;
    line-height: 29px;
    color: #ffffff;
    text-align: center;
}

/*---------联系我----------*/
.contact-me{
    background: #35383F;
    color:#ffffff;
    padding-bottom: 50px;
}
.nub ul li>img{
    width: 25px;
    height: 25px;
}
.nub{
    padding-top: 30px;

}

.nub ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #282A2B;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    box-shadow:0px 0px 5px 5px #000;
    background: #282a2b;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}
.nub a:nth-child(1){
    margin-top: 60px;
}
.nub ul{
    margin-top: 45px;
}
.nub a{
    display: inline-block;
    padding: 8px;
    width: 250px;
    height:100px;
    color: #ffffff;
    font-size: 1.8rem;
}

.sys{
    width:300px;
    height: 250px;
    border-top: 5px solid #ffffff;
    background: #ffffff;
    border-top-right-radius: 30%;
    text-align: center;
}
.nub ul:nth-child(2) li{
    width: 35px;
    height: 35px;
    font-size: 15px;
    line-height: 22px;
}



/*图标*/
.button {cursor: pointer; transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s;}
.button a {position: relative; display: block; float: left; height: 46px; text-align: center; line-height: 46px; padding: 0 15px;}
.button a.button-red {background-color: #d8230e}
.button a.button-black {background-color: #35383f; color: #fff; font-size: 13px; font-family: Carme; text-shadow: 1px 1px 1px #2c2f34; text-decoration: none; text-transform: uppercase; font-weight: bold;}
.button:hover {opacity: 0.8;}